body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

a {
  outline: none;
  padding: 20px;
  text-decoration: none;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  margin-bottom: 10px;
}